
.confirm_mail_notification {
  text-align: center;
}

.confirm_mail_notification h3, .confirm_mail_notification span, .confirm_mail_notification a, .confirm_mail_notification p{
  margin: 15px 0;
}

.confirm_mail_notification span{
  font-weight: bold;
}

.big_header {
  font-size: 26px;
}